.charts {
    background: #1a1a2e;
}

.charts, main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

main {
    overflow: hidden;
    position: relative;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background: #1a1a2e;
}

section article.tall {
    width: 500px;
    height: auto;
}

section article.tall p {
    color: #ffffff;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

section article.tall div span {
    border-radius: 4px;
}

section article.tall div span:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #0f3460;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.stats-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px; /* Adjust this margin as needed to control the vertical spacing between title and goal/value */
}

.stats-info p {
    margin: 0; /* Remove default margin to ensure proper alignment */
    /* Additional styling for text, such as font size or color */
}



section article.tall div span:nth-child(2) {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #e94560;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/*section article.tall div:nth-child(1) span:nth-child(2) {*/
/*    width: 95%;*/
/*    animation-delay: 0s;*/
/*}*/

/*section article.tall div:nth-child(2) span:nth-child(2) {*/
/*    width: 80%;*/
/*    animation-delay: 0.05s;*/
/*}*/

/*section article.tall div:nth-child(3) span:nth-child(2) {*/
/*    width: 90%;*/
/*    animation-delay: 0.1s;*/
/*}*/

section::before {
    position: absolute;
    top: -200px;
    left: -350px;
    width: 500px;
    height: 500px;
    content: "";
    background: #ffffff;
    transform: rotate(30deg);
}

section::after {
    position: absolute;
    bottom: -200px;
    right: -350px;
    width: 500px;
    height: 500px;
    content: "";
    background: #ffffff;
    transform: rotate(30deg);
}

.tall {
    animation: tall 1.25s cubic-bezier(0.17, 0.67, 0, 1);
}

@keyframes tall {
    0% {
        left: -500px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}
