@import url("font-awesome/css/font-awesome.min.css");

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url('./Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Cambria';
    src: local('Cambria'), url('./Cambria.ttf');
}
